@import url('https://fonts.googleapis.com/css?family=Amethysta');
$mygradient: radial-gradient(#b008d1, #05899d, #000000 85%);
$h1font: "Helvetica", sans-serif;
$h2font:"Amethysta", serif;
$h2-color: #d89a64;
$h3font: Helvetica;
$mainfont: Helvetica;
$font-shadow: 1px 1px 2px #ffffff, 0 0 10px #ad9f00, 0 0 5px #b6dcb6;
$text-glow-before: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0d6efd, 0 0 40px #0d6efd, 0 0 50px #0d6efd;
$text-glow-after: 0 0 20px #fff, 0 0 30px #c02e1d, 0 0 40px #c02e1d, 0 0 50px #c02e1d, 0 0 60px #c02e1d, 0 0 70px #c02e1d, 0 0 80px #c02e1d;
/*--sass variables above*/

body{
    background-image: $mygradient;
    color: white;

    h1{
       font-size: 36px;
       color: #3F3544;
       animation: glow 2s ease-in-out alternate;

       @keyframes glow {
            from {
                text-shadow: $text-glow-before;
            }
            to {
                text-shadow: $text-glow-after;
            }
       }

    }
}


.grid-container{
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "header main main"
    "header main main"
    "footer footer footer";
    
    align-content: space-evenly;

    header {
        color: black;
        background-color: #4D0273;
        text-align: center;
        text-decoration: bold;
        text-shadow: $font-shadow;
        grid-area: header;
        ul{
            list-style-type: none;
        }
        max-width: 75vh;
    }

    main{
        grid-area: main;
        h2{
            font-style: $h2font;
            color: $h2-color;
            font-size: 28px;
            text-shadow: rgba(85, 126, 62, 0.99) 2px 2px 2px;
            background-color: #a07c7c;
            animation: h2 2s ease-in-out 0s 1 normal none;
            @keyframes h2{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
            text-align: center;
        }
    
    }
    footer{
        grid-area: footer;
    }
}
.btn-hover{
    width: 200px;
    border-radius: 15px;
    font-size:1.2rem;
    border: dashed #b008d1;
    padding: 0.75rem;
    cursor: pointer;
    background-color: orange;
    transition: all 0.3s ease-out;
}
.btn-hover:hover {
    border-color: #c02e1d;
    background:rgba(85, 126, 62, 0.99);
    color: white;
    font-weight: 400;
    transition: all 0.3s ease-out;
}

.intro {
    background-color: #3b3b3b;
}

.intro:hover{
    background-color: #baaaaa;
    color: black;
    font-size: 34px;
}
.intro::first-letter{
    font-size: 150%;
}

p{
    color: white;
    font-size: 16px;
    background-color: #053f6c;
    animation: h2 2s ease-in-out 0s 1 normal none;
    @keyframes p{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}
p:hover{
    background-color: #c5c1c1;
    color: black;
}